<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label">name</label>
      <input class="form-control" type="text" (keyup)="onName($event)">/>
    </div>
    <div class="form-group">
      <label class="control-label">description</label>
      <input class="form-control" type="text" (keyup)="onDescription($event)" />
    </div>
    <div class="form-group">
      <label class="control-label">stepSize</label>
      <input class="form-control" type="number" min="0" (keyup)="onStepSize($event)" />
    </div>
    <div class="form-group">
      <label class="control-label">unit</label>
      <input class="form-control" type="text" (keyup)="onUnit($event)" />
    </div>
    <div class="form-group">
      <label class="control-label">weeklyTarget</label>
      <input class="form-control" type="number" (keyup)="onWeeklyTarget($event)" />
    </div>
    <div class="form-group">
      <label class="control-label">factor</label>
      <input class="form-control" type="number" (keyup)="onFactor($event)" />
    </div>
    <div>
      <label class="control-label">What week would you like to start?</label>
      <input class="form-control" type="week" (keyup)="onStartingDate($event)" />
    </div>

  </div>
</div>
<a class="btn btn-default" (click)='createGoal()'>Create Goal</a>
