<div class='container'>
  <h1>Create new Goal</h1>
  <div [hidden]='submitted'>
    <form #goalForm='ngForm' (ngSubmit)='onSubmit()'>

      <!-- Goal Name -->
      <div class='form-group'>
        <label for='name'>Name</label>
        <input type='text' [(ngModel)]='model.name' class='form-control' name='name' id='name' maxlength=50 required
          #goalName='ngModel'>
        <div [hidden]='goalName.valid' class='alert alert-danger'>
          Name is required
        </div>
      </div>

      <!-- Goal Description -->
      <div class='form-group'>
        <label for='name'>Description</label>
        <input type='text' [(ngModel)]='model.description' class='form-control' name='description' maxlength=50 id='description'>
      </div>

      <!-- StepSize -->
      <div class='form-group'>
        <label for='name'>Step Size</label>
        <input type='number' [(ngModel)]='model.stepSize' class='form-control' name='stepSize' min=1 id='stepSize'
          required>
      </div>

      <!-- WeeklyTarget -->
      <div class='form-group'>
        <label for='name'>WeeklyTarget</label>
        <input type='number' [(ngModel)]='model.weeklyTarget' class='form-control' name='weeklyTarget' min=1 id='weeklyTarget'
          required>
      </div>

      <!-- Factor -->
      <div class='form-group'>
        <label for='name'>Factor</label>
        <input type='number' [(ngModel)]='model.factor' class='form-control' name='factor' min=1 id='factor' required>
      </div>

      <!-- Unit -->
      <div class='form-group'>
        <label for='unit'>Unit</label>
        <select class='form-control' [(ngModel)]='model.unit' id='unit' name='unit' #unitName='ngModel'>
          <option *ngFor='let unit of unitsEnum | enumToArray' [value]='unit'>{{unit}}</option>
        </select>
      </div>

      <button type='submit' class='btn btn-success' [disabled]='!goalForm.form.valid'>Submit</button>
    </form>
  </div>

  <div [hidden]='!submitted'>
    <h2>You submitted the following:</h2>
    {{diagnostic}}
  </div>
</div>