<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">name</label>
            <input class="form-control" type="text" [(ngModel)]='name' />
        </div>
        <div class="form-group">
            <label class="control-label">description</label>
            <input class="form-control" type="text" [(ngModel)]='description' />
        </div>
        <div class="form-group">
            <label class="control-label">stepSize</label>
            <input class="form-control" type="number" min="0" [(ngModel)]='stepSize'/>
        </div>
        <div class="form-group">
            <label class="control-label">unit</label>
            <input class="form-control" type="text" [(ngModel)]='unit' />
        </div>
        <div class="form-group">
            <label class="control-label">weeklyTarget</label>
            <input class="form-control" type="number" [(ngModel)]='weeklyTarget' />
        </div>
        <div class="form-group">
            <label class="control-label">factor</label>
            <input class="form-control" type="number" [(ngModel)]='factor' />
        </div>
        <div>
            <label class="control-label">What week would you like to start?</label>
            <input class="form-control" type="week" [(ngModel)]='startingDate' />
        </div>

    </div>
</div>
<a class="btn btn-default" (click)='createGoal()'>Create Goal</a>
