<!--<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->

<h2>Index</h2>

<div>
    <label>Select your week</label>
    <input type="week" id="weekSelector" min="2018-W01" value="2018-W14" />
</div>

<p>
    <a asp-action="Create" asp-route-selectedWeekId="@Model.SelectedWeek.Id">Create New</a>
</p>

<progtable></progtable>