<h1>Overview</h1>
<div>
  <label>Select your week</label>
  <input type="week" (change)='weekChanged($event)' [(value)]='selectedDateAsWeek' />
</div>

<a routerLink='/create'>create new goal</a>

<table class="table">
  <thead>
    <tr>
      <th>GoalName</th>
      <th>Description</th>
      <th>StepSize</th>
      <th>Unit</th>
      <th>WeeklyTarget</th>
      <th>Factor</th>
      <th>Points</th>
      <th></th>
      <th>Progress</th>
      <th></th>
      <th>Actual Points</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let p of _progress'>
      <!-- goalName -->
      <td>
        <span>{{p.goalName}}</span>
      </td>

      <!-- description -->
      <td>
        <span>{{p.description}}</span>
      </td>

      <!-- stepSize -->
      <td>
        <span>{{p.stepSize}}</span>
      </td>

      <!-- unit -->
      <td>
        <span>{{p.unit}}</span>
      </td>

      <!-- target -->
      <td>
        <span>{{p.target}}</span>
      </td>

      <!-- factor -->
      <td>
        <span>{{p.factor}}</span>
      </td>

      <!-- points -->
      <td>
        <span>{{p.points}}</span>
      </td>

      <!-- decrease -->
      <td>
        <span><button (click)='decrease(p)'>-</button></span>
      </td>

      <!-- progress -->
      <td>
        <span>
          <progress value={{p.points}} max={{p.target}}></progress>
        </span>
      </td>

      <!-- increase -->
      <td>
        <span><button (click)='increase(p)'>+</button></span>
      </td>

      <!-- points -->
      <td>
        <span>{{ ((p.points / p.target) * p.factor).toFixed(2) }}</span>
      </td>

      <!-- edit and delete -->
      <td>
        <span>
          <a class='material-icons md-24' [routerLink]='["create", p.goalId]'>
            edit
          </a>
          <a class='material-icons md-24' (click)='deleteProgress(p)'>
            delete
          </a>
        </span>
      </td>
    </tr>

    <!-- summary line -->
    <tr>
      <!-- goalName -->
      <td></td>

      <!-- description -->
      <td></td>

      <!-- stepSize -->
      <td></td>

      <!-- unit -->
      <td></td>

      <!-- target -->
      <td></td>

      <!-- factor -->
      <td></td>

      <!-- points -->
      <td></td>

      <!-- decrease -->
      <td></td>

      <!-- progress -->
      <td>
        <span>
          <progress value='{{ getTotalPoints() }}' max='{{ getTotalFactors() }}'> </progress>
        </span>
      </td>

      <!-- increase -->
      <td></td>

      <!-- points -->
      <td>
        <span>{{ getTotalPoints() }}</span>
      </td>

      <!-- edit and delete -->
      <td></td>

    </tr>
  </tbody>
</table>