<div>
  <label>Select your week</label>
  <input type="week" (change)='weekChanged($event)' [(value)]='selectedDateAsWeek' />
</div>

<table class="table">
  <thead>
    <tr>
      <th>GoalName</th>
      <th>Description</th>
      <th>StepSize</th>
      <th>Unit</th>
      <th>WeeklyTarget</th>
      <th>Factor</th>
      <th>Points</th>
      <th>Progress</th>
      <th>Actual Points</th>
    </tr>
  </thead>
  <tbody>
    <!-- progress lines -->
    <tr appProgline [allprogress]=_progress [index]=i *ngFor='let p of _progress; let i = index'></tr>
    
    <!-- summary line -->
    <tr appProgline [allprogress]=_progress [index]=-1></tr>
  </tbody>
</table>