<!-- goalName -->
<td>
  <span *ngIf="!progress.isSummary">{{progress.goalName}}</span>
</td>

<!-- description -->
<td>
  <span *ngIf="!progress.isSummary">{{progress.description}}</span>
</td>

<!-- stepSize -->
<td>
  <span *ngIf="!progress.isSummary">{{progress.stepSize}}</span>
</td>

<!-- unit -->
<td>
  <span *ngIf="!progress.isSummary">{{progress.unit}}</span>
</td>

<!-- target -->
<td>
  <span *ngIf="!progress.isSummary">{{progress.target}}</span>
</td>

<!-- factor -->
<td>
  <span *ngIf="!progress.isSummary">{{progress.factor}}</span>
</td>

<!-- points -->
<td>
  <span *ngIf="!progress.isSummary">{{progress.points}}</span>
</td>

<!-- points as progressbar -->
<td>
  <span *ngIf="!progress.isSummary">
    <button id="down" (click)="step($event)">-</button>
    <progress value="{{progress.points}}" max="{{progress.target}}"></progress>
    <button id="up" (click)="step($event)">+</button>
  </span>
</td>

<!-- actualPoints -->
<td>{{progress.actualPoints}}</td>
