<div>
    <label>Select your week</label>
    <input type="week" [(ngModel)]='selectedWeek' (change)="weekSelected()" />
</div>

<p *ngIf="!progress"><em>Loading...</em></p>

<table class="table">
    <thead>
        <tr>
            <th>GoalName</th>
            <th>Description</th>
            <th>StepSize</th>
            <th>Unit</th>
            <th>WeeklyTarget</th>
            <th>Factor</th>
            <th>Points</th>
            <th>Progress</th>
            <th>Actual Points</th>
        </tr>
    </thead>
    <tbody>
        <tr progline *ngFor='let p of progress' [progline]="p" (updateProgress)="onUpdateProgress($event)"></tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{summary}}</td>
        </tr>
    </tbody>
</table>